<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>functions</title>
</head>
<body>

	{{range .Wisdom}}
	{{.Name | uc}}
	{{end}}

	{{range .Wisdom}}
	{{.Name | ft}}
	{{end}}
</ul>

</body>
</html>